body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 40px;
}

h1 {
    margin-bottom: 10px;
}

.subtitle {
    opacity: 0.7;
    margin-bottom: 30px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
    opacity: 0.9;
}

.back {
    display: inline-block;
    margin-top: 20px;
    color: #22c55e;
    text-decoration: none;
}
.back:hover {
    text-decoration: underline;
}